E-Commerce Analyze

In [28]:
import os
import pandas as pd

In [29]:
order = pd.read_csv('orders.csv')
product = pd.read_csv('products.csv')
customer = pd.read_csv('customers.csv')

In [30]:
order.head(3)

  order_id customer_id product_id  quantity  order_date
0   O00001       C0333       P022         1  2022-01-09
1   O00002       C0068       P090         1  2022-01-27
2   O00003       C0483       P021         1  2022-01-17

In [31]:
product.head(3)

  product_id product_name     category   price
0       P001        Stage     Clothing  534.93
1       P002        Least  Accessories   56.56
2       P003       Number         Home  339.92

In [32]:
customer.head(3)

  customer_id      name  age gender               city
0       C0001  Jennifer   56   Male      Morrisonmouth
1       C0002   William   46   Male  Port Charlesshire
2       C0003     Ellen   32   Male  South Thomasmouth

In [33]:
order['order_date'] = pd.to_datetime(order['order_date'])

In [34]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2584 entries, 0 to 2583
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     2584 non-null   object
 1   customer_id  2584 non-null   object
 2   product_id   2584 non-null   object
 3   quantity     2584 non-null   int64
 4   order_date   2584 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 101.1+ KB

In [35]:
product.isnull().sum()

product_id      0
product_name    0
category        0
price           0
dtype: int64

In [36]:
order.isnull().sum()

order_id       0
customer_id    0
product_id     0
quantity       0
order_date     0
dtype: int64

In [37]:
customer.isnull().sum()

customer_id    0
name           0
age            0
gender         0
city           0
dtype: int64

In [38]:
df = order.merge(customer,on='customer_id')
df = df.merge(product,on="product_id")

In [39]:
df.head(5)

,order_id,customer_id,product_id,quantity,order_date,name,age,gender,city,product_name,category,price
0,O00001,C0333,P022,1,2022-01-09,Christopher,34,Female,North Isaactown,Tax,Home,185.33
1,O00002,C0068,P090,1,2022-01-27,Kathy,35,Female,Gambleport,Perform,Electronics,947.55
2,O00003,C0483,P021,1,2022-01-17,Cody,36,Male,Lake Amandaport,Art,Electronics,938.65
3,O00004,C0214,P076,4,2022-01-07,Jennifer,36,Male,Judithstad,Amount,Electronics,154.17
4,O00005,C0411,P073,4,2022-01-12,Kent,25,Male,East Adamfort,Second,Electronics,131.85

Over all Analyze

In [40]:
repeated_customer = df['customer_id'].value_counts()

In [61]:
overall_path = 'output_analyze/overall_analyze.txt'

In [63]:
import os

# Create the folder if it doesn't exist
os.makedirs("output_analyze", exist_ok=True)

In [64]:
# Total sales 
repeating_customers = (repeated_customer >= 2).sum()
with open(overall_path, 'w') as f:
    f.write(f' {'-'*50}\n Total repeating customers on my store is: {repeating_customers}\n {'-'*50}')

In [57]:
repeated_product = df['product_name'].value_counts()
# repeated_product

In [65]:
# top selling product
top_products = repeated_product.iloc[0:3]
with open(overall_path, 'a') as f:
     f.write(f'\n {'-'*30}\n Top 3 selling product\n {'-'*30}')
     for name, count in top_products.items():
        f.write(f"\n {name}: {count}")

In [66]:
# Least selling product
least_product = repeated_product.iloc[-3:]
with open(overall_path, 'a') as f:
     f.write(f'\n {'-'*30}\n Least 3 selling product\n {'-'*30}')
     for name, count in least_product.items():
        f.write(f"\n {name}: {count}")

In [67]:
# Repeated customers more than 5 times
with open(overall_path, 'a') as f:
    f.write(f'\n {'-'*50}\n Repeated customers more than 5 times\n {'-'*50}')
    for index ,value in repeated_customer.items():
            if value >= 5:
               name = df.loc[df['customer_id'] == index, 'name'].iloc[0]
               f.write(f"\n {name}: {value}")

In [68]:
# total income
totalprice = (df['quantity']*df.price).sum()
with open(overall_path, 'a') as f:
    f.write(f'\n {'-'*50}\n Total Income: {totalprice} \n {'-'*50}')

Yearly Analyze

In [69]:
df['year'] = df.order_date.dt.year

In [70]:
year_group = df.groupby('year')

In [71]:
yealy_path = 'output_analyze/yearly_analyze.txt'

In [72]:
# Yearly Total repeating customers
with open(yealy_path, 'w') as f:
    f.write(f' {'-'*50}')
    for year in df.year.unique():
        yearwisegroup = year_group.get_group(year)
        year_repeated_customer= yearwisegroup.customer_id.value_counts()
        year_repeating_customers = (year_repeated_customer >= 2).sum()
        f.write(f'\n Total repeating customers on my store is {year}: {year_repeating_customers} \n {'-'*50}')

In [73]:
# Top selling product
for year in df.year.unique():
    yearwisegroup = year_group.get_group(year)
    year_repeated_product = yearwisegroup['product_name'].value_counts()
    year_top_products = year_repeated_product.iloc[0:3]
    with open(yealy_path, 'a') as f:
        f.write(f'\n {'-'*50}\n Top 3 selling products in {year} \n {'-'*50}')
        for name, count in year_top_products.items():
            f.write(f"\n {name}: {count}")

In [74]:
# Least selling product
for year in df.year.unique():
    yearwisegroup = year_group.get_group(year)
    year_repeated_product = yearwisegroup['product_name'].value_counts()
    year_least_products = year_repeated_product.iloc[-3:]
    with open(yealy_path, 'a') as f:
        f.write(f'\n {'-'*50}\n Least selling products in {year} \n {'-'*50}')
        for name, count in year_least_products.items():
            f.write(f"\n {name}: {count}")

In [75]:
# Repeated customers more than 5 times
for year in df.year.unique():
    yearwisegroup = year_group.get_group(year)
    year_repeated_customer= yearwisegroup.customer_id.value_counts()
    with open(yealy_path, 'a') as f:
        f.write(f'\n {'-'*50}\n Repeated customers more than 5 times {year} \n {'-'*50}')
        for index ,value in year_repeated_customer.items():
                if value >= 5:
                   name = yearwisegroup.loc[yearwisegroup['customer_id'] == index, 'name'].iloc[0]
                   f.write(f"\n {name}: {value}")

In [76]:
# Yearly total income
with open(yealy_path, 'a') as f:
    f.write(f'\n{'-'*50}')
    for year in df.year.unique():
        yearwisegroup = year_group.get_group(year)
        totalprice = (yearwisegroup['quantity']*yearwisegroup.price).sum()
        f.write(f'\nIn {year} Total sales: {totalprice} \n{'-'*50}')
    # print(f'In {year} Total sales: {totalprice}')

Monthly Analyze

In [77]:
df['month'] = df.order_date.dt.month_name()

In [78]:
monthly_path = 'output_analyze/monthly_analyze.txt'

In [79]:
with open(monthly_path, 'w') as f:
    for year in df['year'].unique():
        yearwisegroup = year_group.get_group(year)
        f.write(f'\n{'-'*50}\n Total repeating customers in {year} \n{'-'*50}')
    
        month_group = yearwisegroup.groupby('month')
        for month in yearwisegroup['month'].unique():
            monthwisegroup = month_group.get_group(month)
            
            # Count customers who appear more than once
            customer_counts = monthwisegroup['customer_id'].value_counts()
            repeating_customers = (customer_counts >= 2).sum()
            
            f.write(f"\nTotal repeating customers in {month}: {repeating_customers}")

In [80]:
# Monthly Top selling product
with open(monthly_path, 'a') as f:
    for year in df['year'].unique():
        yearwisegroup = year_group.get_group(year)
        f.write(f"\n{'='*40}\n Top selling product on my store {year} \n{'='*40}")
        month_group = yearwisegroup.groupby('month')
        for month in yearwisegroup['month'].unique():
            monthwisegroup = month_group.get_group(month)
            month_repeated_product = monthwisegroup['product_name'].value_counts()
            month_top_products = month_repeated_product.iloc[0:3]
            f.write(f'\n{'-'*40}\n Top 3 selling products in {month}\n{'-'*40}')
            for name, count in month_top_products.items():
                f.write(f"\n{name}: {count} ")

In [81]:
# Monthly least selling product  
with open(monthly_path, 'a') as f:
    for year in df['year'].unique():
        yearwisegroup = year_group.get_group(year)
        f.write(f"\n{'='*40}\n least selling product on my store {year} \n{'='*40}")
        month_group = yearwisegroup.groupby('month')
        for month in yearwisegroup['month'].unique():
            monthwisegroup = month_group.get_group(month)
            month_repeated_product = monthwisegroup['product_name'].value_counts()
            month_least_products = month_repeated_product.iloc[-3:]
            f.write(f'\n{'-'*40}\n least 3 selling products in {month}\n{'-'*40}')
            for name, count in month_least_products.items():
                f.write(f"\n{name}: {count} ")

In [82]:
# Monthly Repeated customers more than 5 times
with open(monthly_path, 'a') as f:
    for year in df['year'].unique():
        yearwisegroup = year_group.get_group(year)
        f.write(f"\n{'='*50}\n Repeated customers more than 5 times {year} \n{'='*50}")
        month_group = yearwisegroup.groupby('month')
        for month in yearwisegroup['month'].unique():
            monthwisegroup = month_group.get_group(month)
            month_repeated_customer= monthwisegroup.customer_id.value_counts()
            for index ,value in month_repeated_customer.items():
                if value >= 5:
                    name = monthwisegroup.loc[monthwisegroup['customer_id'] == index, 'name'].iloc[0]
                    f.write(f"\n{name}: {value} ")

In [83]:
# Monthly total income
with open(monthly_path, 'a') as f:
    for year in df['year'].unique():
        yearwisegroup = year_group.get_group(year)
        f.write(f"\n{'-'*50}\n Monthly sales in {year} \n{'-'*50}")
        month_group = yearwisegroup.groupby('month')
        for month in yearwisegroup['month'].unique():
            monthwisegroup = month_group.get_group(month)
            totalprice = (monthwisegroup['quantity']*monthwisegroup.price).sum()
            f.write(f'\n In {month} sales: {totalprice}')

In [84]:
os.makedirs('output_analyze', exist_ok=True)
df.to_csv('output_analyze/merge_dataframe.csv', index=False)